/* About Page */
.about-main {
  display: flex;
  justify-content: center;
  padding: 5rem;
  gap: 2rem;
}
.about-main__img {
  padding: 2.5rem;
}
.about-main__text {
  width: 30rem;
}
.about-main__text h4 {
  font-size: 1.6rem;
  font-weight: 500;
}
.about-main__text h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
.about-main__text p {
  color: var(--description-color);
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.about-main__text-icons {
  grid-gap: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.about-main__text-icons-box {
  padding-top: 1rem;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: start;
}
.about-main__text-icons-box span {
  display: flex;
  gap: 0.5rem;
  height: 50%;
}
.about-main__text-icons-box h4 {
  font-size: 3rem;
  font-weight: 700;
}
.about-main__text-icons-box p {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  height: 100%;
}

@media (max-width: 768px) {
  .about-main {
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
  }
  .about-main__img,
  .about-main__text {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .about-main__text-icons {
    grid-template-columns: 1fr;
  }
  .about-main__text-icons-box {
    align-items: center;
    justify-content: center;
  }
  .about-main__text-icons-box span {
    flex-direction: column;
  }
}
