/* PickCar Component */

.pick-section {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 5rem 0;
}

.pick-container__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
.pick-container__title h5 {
  font-size: 1.6rem;
  font-weight: 500;
}
.pick-container__title h1 {
  font-size: 2.8rem;
}
.pick-container__title p {
  width: 30rem;
  color: var(--description-color);
}
.pick-container__car-content {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  justify-content: space-between;
}
.car-models__title {
  display: flex;
  flex-direction: column;
}
.car-models__title button {
  text-align: start;
  padding: 1rem 2rem;
  background-color: #e9e9e9;
  border: none;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 600;
}
.car-models__title button:hover {
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.car-image-details {
  display: flex;
  align-items: center;
  gap: 10rem;
  padding-left: 2rem;
}
.car-content__car-image {
  position: relative;
}
.car-content__car-image img {
  mix-blend-mode: multiply;
}
.car-content__car-details {
  width: fit-content;
  height: 100%;
}
.car-details__price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 0.5rem;
}
.car-details__price span {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
.car-details__price p {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 1rem;
}
.car-content__details {
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 100%;
}
.details {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
  grid-template-rows: auto;
}
.details div {
  border-bottom: 2px solid black;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 0.6rem 0.2rem;
}
.details span {
  color: black;
  font-weight: 400;
}
.details span:nth-child(1) {
  font-weight: 600;
  content: "";
  border-right: 2px solid black;
}

.car-content__car-details button {
  background-color: var(--secondary-color);
  border: none;
  color: #fff;
  padding: 0.5rem 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .car-image-details {
    gap: 3rem;
  }
}
@media (max-width: 1050px) {
  .car-content__car-models {
    width: 100%;
  }
  .pick-container__car-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .car-image-details {
    display: flex;
    gap: 2rem;
  }
}

@media (max-width: 728px) {
  .pick-container__car-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .car-image-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
