/* HeroPages section */
.heroPage {
  position: relative;
  background-image: url("../../assets/images/hero-page/heroPages-background.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 21rem;
  width: 100%;
}
.heroPage__overlay {
  background-color: hsla(0, 0%, 100%, 0.92);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.heroPage__text {
  position: relative;
  padding-top: 5rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 3;
}
.heroPage__text h3 {
  font-size: 2.4rem;
}
.heroPage__text p {
  font-weight: 600;
}
