/* Book Banner */
.book-banner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4rem 0;
  background-image: url("../src/assets/book-banner-bg.png");
  margin: 5rem 0;
  position: relative;
  height: 13rem;
}
.book-banner__overlay {
  background-color: #2d2d2d;
  height: 100%;
  opacity: 0.89;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.book-banner__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.6rem;
  z-index: 3;
  position: relative;
  height: 100%;
}
.book-banner__text * {
  color: #fff;
}
.book-banner__text span {
  display: flex;
  fill: var(--secondary-color);
  align-items: center;
  gap: 1rem;
}
.book-banner__text span:first-child {
  width: 2rem;
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}
.book-banner__text span h3 {
  color: var(--secondary-color);
}
.book-banner__logo {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  stroke: var(--secondary-color);
}

@media (max-width: 768px) {
  .book-banner {
    text-align: center;
    padding: 2rem 0;
    margin: 2rem 0;
  }
  .book-banner__text {
    flex-direction: column;
    gap: 1rem;
  }
  .book-banner__text span {
    gap: 0.5rem;
  }
  .book-banner__text span h3 {
    font-size: 1.2rem;
  }
  .book-banner__logo {
    width: 1.5rem;
    height: 1.5rem;
  }
}
