/* Testimonials section */
.testimonials-section {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #f8f8f8;
  padding: 5rem 0;
}
.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95rem;
}
.testimonials-title {
  max-width: 50rem;
  margin: 0 auto 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.testimonials-title h4 {
  font-size: 1.4rem;
}
.testimonials-title h2 {
  font-size: 2.4rem;
}
.testimonials-title p {
  color: var(--description-color);
  font-weight: 500;
  margin-top: 1rem;
}
.testimonials-boxes {
  display: flex;
  gap: 10rem;
}
.testimonials-boxes img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.testimonials-boxes p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}
.testimonials-boxes h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.testimonials-box1,
.testimonials-box2 {
  width: 40rem;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  padding: 2rem;
}
.testimonials-box__name {
  margin-top: 3rem;
}
.testimonials-box-name__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
