:root {
  --primary-color: #010103;
  --secondary-color: #ff4d30;
  --description-color: #706f7b;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  scrollbar-color: #ff4d30 #fff;
  scrollbar-width: thin;
}
body {
  background-color: #f8f8f8;
}

/* Others */
span {
  color: var(--secondary-color);
}
b {
  color: red;
}
.icon-btn {
  fill: #fff;
}
.active {
  background-color: var(--secondary-color) !important;
  color: #fff;
}
.icon-chevron {
  fill: #fff;
}
.icon-quote {
  fill: var(--secondary-color);
  margin-left: auto;
  width: 4rem;
  height: 4rem;
}
.container {
  width: 100%;
  margin: 0 auto !important;
  max-width: 95rem !important;
  padding: 0 2.5rem !important;
}
a:hover,
a:hover * {
  color: var(--secondary-color);
  stroke: var(--secondary-color);
  fill: var(--secondary-color);
}
